@model goalblog.Models.ChWorld

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChWorld</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumbGr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumbGr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoseGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoseGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
